[submodule "MapboxGeocoder"]
	path = MapboxGeocoder
	url = https://github.com/mapbox/MapboxGeocoder.swift
[submodule "MapboxDirections"]
	path = MapboxDirections
	url = https://github.com/mapbox/MapboxDirections.swift
[submodule "TurfJS"]
	path = TurfJS
	url = https://github.com/Turfjs/turf
[submodule "MBDrawingView"]
	path = MBDrawingView
	url = https://github.com/mapbox/MBDrawingView.swift
